name: pull-request-validation

on:
  pull_request:
    branches:
      - main
      - feature/pr-action

jobs:
  build_lint_validate_diff:
    name: lint, validate and diff from main
    permissions: write-all
    runs-on: ubuntu-latest
    container:
      image: alpine/helm:3.19.0@sha256:9b9dab5f1185f02264fde67306137e658017f9d686385acaec7fbadbf156a6aa
    steps:
      - name: checkout pr head
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

      - name: install chart dependencies
        run: helm dependency build charts/immich

      - name: lint helm chart
        run: helm lint charts/immich --set persistence.library.storageClass=test-pvc-provisioner --set persistence.external.storageClass=test-pvc-provisioner --set persistence.machine-learning-cache.storageClass=test-pvc-provisioner --set postgresql.primary.persistence.storageClass=test-pvc-provisioner --set postgresql.global.postgresql.auth.password=test-password

      - name: prepare
        run: mkdir -p charts/immich/build
      - name: create full manifest from pr head
        run: helm template immich charts/immich --set persistence.library.storageClass=test-pvc-provisioner --set persistence.external.storageClass=test-pvc-provisioner --set persistence.machine-learning-cache.storageClass=test-pvc-provisioner --set postgresql.primary.persistence.storageClass=test-pvc-provisioner --set postgresql.global.postgresql.auth.password=test-password | tee charts/immich/build/manifest.yaml

      - name: checkout main
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
          ref: main
          path: main

      - name: install chart dependencies
        run: helm dependency build main/charts/immich

      - name: prepare
        run: mkdir -p main/charts/immich/build
      - name: create full manifest from main
        run: helm template immich main/charts/immich --set persistence.library.storageClass=test-pvc-provisioner --set persistence.external.storageClass=test-pvc-provisioner --set persistence.machine-learning-cache.storageClass=test-pvc-provisioner --set postgresql.primary.persistence.storageClass=test-pvc-provisioner --set postgresql.global.postgresql.auth.password=test-password | tee main/charts/immich/build/manifest.yaml

      - name: create diff comment
        uses: int128/diff-action@c9db036f910af1c65d025ee9734f0aa2b0a47c39 # v1.58.0
        with:
          base: main/charts/immich/build
          head: charts/immich/build
          comment-header: "## Changes in Final Manifest"
